@charset "utf-8";
/* CSS Document */
body {
    background-color: #A0CEF4;
    color: #EB00C5;
    width: auto;
    height: auto;
    font-style: italic;
    font-size: 25px;
    -webkit-box-shadow: 0px 0px #99D4F5;
    box-shadow: 0px 0px #99D4F5;
    text-shadow: 0px 0px #9AC4EC;
}
table {
    background-color: #B196EC;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 0px 0px #F3A2EB;
}

h1 {
    color: #8559BB;
    text-align: center;
    font-size: 100px;
    background-color: #D9AEAE;
}
img {
    width: 250px;
    height: 200px;
    background-color: undefined;
}
h2 {
    color: #9E6AE9;
    font-size: 25px;
    font-variant: small-caps;
    font-style: italic;
    background-color: #8AC2CC;
}
.imagen {
    width: 250px;
    height: 250px;
}
a:visited{
	color:white;
}
a:hover{
	color:#E49
}